* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.game {
  padding: 5px;
}

.game div {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 5px;
}

.blue {
  background-color: #00F;
}

.red {
  background-color: #F00;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.magenta {
  background-color: magenta;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.cyan {
  background-color: cyan;
}
